@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "New Game";
}

<h2>Game On!</h2>
<p>This page is restricted to logged-in users only.</p>
<p>Placeholder text for the Minesweeper game will go here.</p>